*{
  margin: 0;
}
h1{
  padding-left: 200px;
}

.main{

  
}

.main p{
  padding-left: 200px;
  padding-right: 20px;
  text-align:justify;
  background: url(images/images-pink-floyd/gettyimages-517258723-612x612.jpg);
  background-size: cover;
  background-position-y: top;
}
/* the sidebar menu*/
.sidenav{
  height: 100%;
  width: 180px;
  position: fixed;
  background-color:rgb(144, 190, 109);
  padding-top: 30px;
  z-index: 1;
  left: 0;
  top: 0;
}

/*the navigation menu links*/

.sidenav a {
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(87, 117, 144);
  display: block;
}
/*change the color when the mouse is over the navigation links*/
.sidenav a:hover {
  color: rgb(243, 114, 44);
}